<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>WEBSITE INI</title>
</head>

<body>
    <h2 class="container">Edit data</h2>
    <div class="container">
        <form method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="ID" disabled value="<%= item.id %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">String</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="String" value="<%= item.string %>"
                        name="string">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Integer</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Integer" value="<%= item.integer %>"
                        name="integer">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Float</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Float" value="<%= item.float %>" name="float">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Date" value="<%= item.date %>" name="date">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Boolean</label>
                <div class="col-sm-10">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="boolean">
                        <option value="true" <%= item.boolean == "true" ? "selected" : "" %>>true</option>
                        <option value="false" <%= item.boolean == "false" ? "selected" : "" %>>false</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div><br>
        </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>